name: Tests
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  code_style:
    name: Test code style
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['7.3', '7.4']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.version }}
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: composer install
      - name: Test code style
        run: composer fixer -- --dry-run
  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['7.3', '7.4', '8.0']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.version }}
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: composer install
      - name: Run static analysis
        run: composer phpstan
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['7.3', '7.4', '8.0']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.version }}
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: composer install
      - name: Run tests
        run: composer phpunit
  coverage:
    name: Report Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: composer install
      - name: Generate Coverage
        run: composer phpunit -- --coverage-clover ./build/logs/clover.xml
      - name: Download Coverage Client
        run: wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.2.0/php-coveralls.phar
      - name: Publish Coverage
        run: php php-coveralls.phar
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
